{# Display the form #}

{{ form_start(form, {'attr': {'id': 'feecback_filter'}}) }}
    {{ form_errors(form) }}

    {{ form_label(form.search) }}
    {{ form_widget(form.search) }}

    {{ form_label(form.statuses) }}
    {{ form_widget(form.statuses) }}
    
    
    <div class="loader" id="loader" style="display: none;"> 
        <img src="{{ asset('bundles/oxindfeedback/images/loader.gif') }}" />
    </div>
{{ form_end(form) }}

<div class="custpagination">
    <a id="prev" href="" class="page">Prev</a>
    <a id="next" href="" class="page">Next</a>
</div>

