{% trans_default_domain "feedback" %}

{% for success in app.session.flashbag.get('success') if success != null %}
    <div class="flash-success">
        {{ success }}
    </div>
{% endfor %}

<div id="update_listing">
<div class="feedbacklisting" id="feedback-list-container" >
    
    {% set condition = false %}
    
    {% if app.user is null %}
            {% set condition = true %}
    {% endif %}
    
    {% for feedback in feedbacks if feedback.isDisplayable() %}
    
    <div class="feedback-listing">
        <div class="totalvotecount" ><strong>{{ total_vote[feedback.getId()]|default('0') }}</strong><span>votes</span></div>

        {{ include ('OxindFeedbackBundle:Feedback:feedback_title.html.twig',{'title' :feedback.getTitle()} )  }}
        {{ include ('OxindFeedbackBundle:Feedback:feedback_content.html.twig',{'content' :feedback.getContent() })  }}


        {% set feedback_type = feedback.getFeedbackType() %}
        
        {% if not condition %}
            {% set condition = not feedback.hasUserVoted(app.user) %}
        {% endif %}
        
        {# if feedback is votable show vote form #}
        {% if feedback_type.getVotable() and condition %}

            {% set min = feedback_type.getVoteMinPoint() %}
            {% set max = feedback_type.getVoteMaxPoint() %}

        <div class="feedback-votes-details">
            {{ include ('OxindFeedbackBundle:Feedback:feedback_author_created.html.twig',{'created_at' :feedback.getCreatedAt() })  }}
            <div class="give-votes">    
             {{ include ('OxindFeedbackBundle:Feedback:feedback_vote_form.html.twig',{'feedback_id' :feedback.getId(),'min_points': min,'max_points':max} ) }}
            </div>
        </div>
        
        {% else %}
        
        <div class="feedback-votes-details" >{{ 'flash_message.already_voted'|trans }}</div>
        
        {% endif %}
        
        
    </div>
    {% endfor %}
</div>
</div>